.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
}
.products .card{
    margin: 10px auto;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
    border-color: orangered;
    padding: 2px;
}
/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
    border-color: orangered;
    padding: 2px;
}
.product>img {
    max-height: 200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product> button {
    /* background: #E32636;  */
  
    background: linear-gradient(#020024, #1D428A); 
    border:1px solid;
    width: 170px;
    height: 30px;
    margin-top:10px;
    /* border-color:#a88734 #9c7e31 #846a29; */
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    border-radius: 15px;
}

 .product>button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.product_price {
    margin-top: 5px;
}
.product_info {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}
.product_rating{
    display: flex;
}